{# app/Resources/views/Emails/registration.html.twig #}
<h3>Udało Ci się zarejestrowac!</h3>

Witaj {{ name }}!

<hr>
Zanim się zalogujesz, wejdź w link poniżej, aby aktywować swoje konto!
<br>
<a href="{{ url('activationLink', {'userId' : userId, 'hash' : uniqueHashForUser }) }}">{{ url('activationLink', {'userId' : userId, 'hash' : uniqueHashForUser }) }}</a>
<br><br>
By się zalogować, kliknij: <a href="{{ url('login') }}">{{ url('login') }}</a>.

Dziękujemy!
