<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{ title }}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/biznesshop/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="{{ asset('bundles/biznesservice/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom CSS -->
        <link href="{{ asset('bundles/biznesshop/css/style.css') }}" rel="stylesheet">


    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url('shop') }}">
                    <i>Affiliations TOOLS</i>
                </a>
                
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <i class="fa fa-arrow-left"></i>
                    Serwis partnerski 
                </a>
                

                <a class="navbar-brand" href="{{ url('cart') }}">
                    W koszyku : {{ cart.count }}
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Kontakt
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('checkout') }}">Zamówienie</a>
                        </li>

                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('personalDataShop') }}"> Twoje Konto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('logout') }}"> 
                                    Wyloguj
                                    <i class="fa fa-fw fa-sign-out"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('loginShop') }}"> 
                                    Logowanie
                                    <i class="fa fa-fw fa-sign-in"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('registerShop') }}"> 
                                    Rejestracja
                                    <i class="fa fa-fw fa-registered"></i>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- /.nav -->
        
        <!-- Header -->
        {% block header %}
            
        {% endblock %}

        
        <!-- Page Content -->
        <div class="container">
            <div class="container-fluid">
            {% block container %}

            {% endblock %}
            </div>
        </div>
        <!-- /.container -->

        <!-- Footer -->
        {% block footer %}
            <footer class="py-3 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
                </div>
                <!-- /.container -->
            </footer>
        {% endblock %}

        <!-- jQuery -->
        <script src="{{ asset('bundles/biznesshop/js/jquery.min.js') }}"></script>

        <!-- Bootstrap && Propel JavaScript -->
        <script src="{{ asset('bundles/biznesshop/js/popper.min.js') }}"></script>
        <script src="{{ asset('bundles/biznesshop/js/bootstrap.min.js') }}"></script>


    </body>

</html>
