{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Version</th>
                <th>Rating</th>
                <th>Idproduct</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('products_show', { 'id': product.idProduct }) }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.version }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.idProduct }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('products_show', { 'id': product.idProduct }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
