{% extends "BiznesServiceBundle:Default:index.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">
                    Rejestracja
                </div>
                <div class="card-body">
                    
                    {{ form_start(changePassForm) }}
                    {{ form_widget(changePassForm) }}
                        {# form_row(changePassForm.oldpassword) }}
                        {{ form_row(changePassForm.plainPassword.first) }}
                        {{ form_row(changePassForm.plainPassword.second) #}
                    {{ form_end(changePassForm) }}

                </div>
            </div>

        </div>
    </div>  
{% endblock %}