<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Umowa o dzieło</title>


    </head>

    <body style="
          overflow: auto; 
          background-color: white;
          background-image: none;
          padding: 10px;
          font-size: 22px;
          ">
        <!-- Page Content -->
        <div class="container">
            <div class="container-fluid">
                <div class="contract" style="
                     overflow: auto; 
                     background-color: white;
                     padding: 20px;
                     ">
                    <div class="row">
                        <div class="col-lg-12" style="
                             text-align: center;
                             font-size: 28px;
                             padding-bottom: 20px;
                             ">
                            <strong>UMOWA O DZIEŁO Nr {{ contractNumber }}</strong>
                        </div>
                    </div>

                    <hr>

                    <div class="row" style="
                         ">
                        <div class="col-md-12" style="
                             padding: 50px 40px 50px;
                             text-align: left;
                             line-height: 36px;
                             ">
                            <p>
                                zawarta w dniu {{ expanse.dateExpanse | date('Y-m-d') }} w Łódź pomiędzy firmą <strong>AffiliationTools PHU</strong>
                                z siedzibą w &nbsp; <u>ul. Przykładowa 15, 99-999 Łódź</u> &nbsp; zwanym dalej <strong>Zamawiającym</strong>
                                reprezentowanym przez &nbsp; <u>Michał Błaszczyk</u> &nbsp;
                                a &nbsp;
                                <u>
                                    {{ userData.name1 }}
                                    {% if userData.name2 is not null %}
                                        {{ userData.name2 }}
                                    {% endif %}
                                    {{  userData.surname }}</u>
                                    zamieszkałym w ul.
                                <u>
                                    {{ userAddress.street }} {{ userAddress.nrHouse }}
                                    {% if userAddress.nrFlat is not null %}
                                        {{ userAddress.nrFlat }}
                                    {% endif %}
                                    , {{ userAddress.postCode }} {{ userAddress.city }}</u>
                                &nbsp;
                                zwanym dalej <strong>Wykonawcą</strong>. <br>
                            </p>

                            <ul style="list-style-type: none;">

                                <li>§1. <strong>Zamawiający</strong> zamawia, a <strong>wykonawca</strong> przyjmuje do wykonania: <br>
                                    promocję sklepu internetowego AffiliationTools
                                    w terminie do dnia {{ dateExecution | date('Y-m-d') }} <br>
                                </li>
                                <li>
                                    §2. Do wykonianai dzieła Zamawiający powierza funkcje serwisu AffiliationTools oraz materiały promocyjne. <br>

                                </li>
                                <li>
                                    §3. Za wykonane dzieło <strong>zamawiający</strong> zapłaci <strong>wykonawcy</strong> kwotę zł/gr {{ expanse.value }} brutto
                                    w terminie 14 dni od daty odebrania dziełą i złożenia rachunku. Od w/w wynagrodzenia <strong>Zamawiający</strong> odliczy
                                    należna zaliczkę na podatek dochodowy. <br>
                                </li>
                                <li>
                                    §4. Zmiana umowy wymaga zachowania formy pisemnej. <br>
                                </li>
                                <li>
                                    §5. W sprawach nieuregulowanych w umowie mają zastosowanie przepisy Kodeksu w części dotyczącej umowy o dzieło. <br>

                                </li>
                                <li>
                                    §6. Umowę sporządzono w 2-ch jednobrzmiących egzemplarzach - po jednym dla każdej ze stron.
                                </li>

                            </ul>


                        </div>
                    </div>
                    <div class="row" style="
                         clear:both;
                         margin-top: 80px;
                         line-height: 36px;
                         ">
                        <div class="col-md-5" style="
                             float: left;
                             padding: 40px 40px 100px;
                             text-align: center;
                             ">
                            <strong>ZAMAWIAJĄCY</strong><br><br><br>
                            .................................................
                        </div>
                        <div class="col-md-5" style="
                             float: right;
                             padding: 40px 40px 100px;
                             text-align: center;
                             ">
                            <strong>WYKONAWCA</strong><br><br><br>
                            .................................................

                        </div>
                    </div>

                    <hr style="clear:both;">



                </div>
            </div>
        </div>
        <!-- /.container -->
    </body>
</html>