{% extends "BiznesServiceBundle::base.html.twig" %}

    {% set title = 'Strona główna' %}
    
    {% block assets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/biznesservice/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('bundles/biznesservice/css/simple-sidebar.css') }}" rel="stylesheet">
    {% endblock %}


    {% block body %}
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {#
                        <li class="sidebar-brand">
                            <a href="#">
                                Start Bootstrap
                            </a>
                        </li>
                    #}
                    <li>
                        <div style="color:red;">Jeśli nie dołączył do programu</div>
                        <a href="#">Join Partnership Now!</a>
                    </li>
                        <hr>
                    <li>
                        <a href="{{ path('dashboard') }}">Panel główny</a>
                    </li>
                    <li>
                        <a href="{{ path('personalData') }}">Twoje konto</a>
                    </li>
                    <li>
                        <a href="#">Commissions</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            {% block content %}
                                {#
                                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                                #}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <h3>Panel główny</h3>
                                    <p>Twój link referencyjny prowadzący do rejestracji w serwisie:</p>
                                    <input name="refService" type="text" placeholder="{{ path('register') }}" class="form-control"></input>
                                    <p>Twój link referencyjny prowadzący do rejestracji w sklepie:</p>
                                    <input name="refShop" type="text" placeholder="{{ path('register_shop') }}" class="form-control"></input>
                                    
                                {% else %}
                                    <h1>Witaj na stronie serwisu partnerskiego!</h1>
                                    <p>Zarabiaj polecając nasze produkty! Zarejestruj się już teraz, by uzyskać swój link referencyjny.</p>
                                    <p>Dołącz już teraz, to nic nie kosztuje. <a href="{{ path('register') }}"> Rejestracja!</a></p>

                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
            <hr>
            {% if um is defined %}
                {{ dump(um) }}
            {% endif %}
        </div>
        <!-- /#wrapper -->
        
    {% endblock %}

    
    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('bundles/biznesservice/js/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bundles/biznesservice/js/bootstrap.min.js') }}"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    {% endblock %}