{% extends "BiznesServiceBundle::base.html.twig" %}

{% set title = 'Nowy wątek' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-register mx-auto mt-5">

                <div class="card-header">
                    Rozpocznij nowy wątek do komunikacji z supportem
                </div>
                <div class="card-body">
                    {{ form_start(ticketForm) }}
                        <div class="form-group">
                            {{ form_row(ticketForm.title) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(ticketForm.text) }}
                        </div>
                        {{ form_row(ticketForm.createTicket) }}
                    {{ form_end(ticketForm) }}
                </div>

                {#
                <div class="card-body">
                    <form class="form" method="POST" action="{{ path('newTicket') }}">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for="title">Temat:</label>
                                    <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" placeholder="Wprowadź tytuł">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="text">Komentarz:</label>
                                <textarea class="form-control" rows="6" id="text" name="text"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                        <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                    </form>
                </div>
                #}

            </div>
        </div>
    </div> 
{% endblock %}
