{% extends "BiznesServiceBundle:Default:index.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Zleć nową wypłatę</h3>
            Posiadane dostępne pieniądze: {{ moneyInWallet }} zł.
            {% if (msg is not null) %}
                <div class="well">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(newWithdrawForm) }}
            
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">
                    Nowa wypłata
                </div>
                <div class="card-body">
                    {{ form_widget(newWithdrawForm) }}
                </div>
            </div>


            <div class="modal fade" id="confirmNewWithdraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Potwierdzenie</h3>
                        </div>
                        <div class="modal-body">
                            <div>Czy na pewno chcesz wypłacić podaną kwotę? </div> 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cofnij</button>
                            <button class="btn btn-success success" type="submit">Akceptuj</button>
                        </div>

                    </div>
                </div>
            </div>  
                
            {{ form_end(newWithdrawForm) }}

        </div>
    </div>

{% endblock %}