{% extends "BiznesServiceBundle::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Zleć nową wypłatę</h3>
            <h4>Posiadane dostępne pieniądze: {{ moneyInWallet }} zł.</h4>
            {% if (msg is not null) %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(newWithdrawForm) }}
            
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">
                    Nowa wypłata
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="expanses_value">Kwota:</label>
                        {{ form_widget(newWithdrawForm.value) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(newWithdrawForm.makeWithdraw) }}
                    </div>
                </div>
            </div>


            <div class="modal fade" id="confirmNewWithdraw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Potwierdzenie</h3>
                        </div>
                        <div class="modal-body">
                            <div>Czy na pewno chcesz wypłacić podaną kwotę? </div>
                            <div class="form-group">
                                <label for="expanses_password"><strong>Hasło:</strong></label>
                                {{ form_widget(newWithdrawForm.password) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cofnij</button>
                            <button class="btn btn-success success" type="submit">Akceptuj</button>
                        </div>

                    </div>
                </div>
            </div>  
                
            {{ form_end(newWithdrawForm) }}

        </div>
    </div>

{% endblock %}