{% extends "BiznesServiceBundle::base.html.twig" %}

{% set title = 'Rejestracja' %}

{% block body %}
    <body class="bg-dark">
        {% block nav %}
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bg-primary" id="mainNav">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Powrót do serwisu
                </a>
                <a class="navbar-brand" href="{{ path('shop') }}">
                    Sklep
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </nav>
        {% endblock %}

        <div class="container">
            <div class="comunication-card">
                <div class="card card-login mx-auto mt-5">
                    <div class="card-header">
                        Rejestracja
                    </div>
                    <div class="card-body">

                        {{ form_start(registerForm) }}
                        {{ form_row(registerForm.username) }}
                        {{ form_row(registerForm.email) }}
                        {{ form_row(registerForm.plainPassword.first) }}
                        {{ form_row(registerForm.plainPassword.second) }}
                        {{ form_row(registerForm.gender) }}
                        {{ form_end(registerForm) }}

                    </div>

                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ path('login') }}">
                            Strona logowania
                        </a>
                        <a class="d-block small" href="#" data-toggle="modal" data-target="#remindModal">
                            Zapomniałeś hasło?
                        </a>
                        <a class="d-block small" href="#" data-toggle="modal" data-target="#resendModal">
                            Wyślij ponownie link aktywacyjny
                        </a>
                    </div>
                </div>

                {#
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">
                        Zarejestruj konto
                    </div>
                    <div class="card-body">
                        <form name="users" method="post" class="form">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="username" class="required">Login:</label>
                                        <input type="text" class="form-control" id="users_username" name="users[username]" required="required" aria-describedby="loginHelp" placeholder="Wprowadź login">
                                    </div>
                                    <div class="col-md-6" class="required">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="users_email" name="users[email]" required="required" aria-describedby="emailHelp" placeholder="Wprowadź adres email">
                                    </div>
                                </div>
                            </div>
             
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="users_plainPassword_first" class="required">Hasło:</label>
                                        <input type="password" class="form-control" id="users_plainPassword_first" name="users[plainPassword][first]" required="required" placeholder="Wprowadź hasło">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="users_plainPassword_second" class="required">Powtórz hasło:</label>
                                        <input type="password" class="form-control" id="users_plainPassword_second" name="users[plainPassword][second]" required="required" placeholder="Powtórz hasło">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="users_gender" class="required">Płeć:</label>
                                    <select id="users_gender" name="users[gender]" required="required" class="form-control">
                                        <option value="" selected="selected">Wybierz płeć</option>
                                        <option value="M">mężczyzna</option>
                                        <option value="K">kobieta</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" id="users_createAccount" name="users[createAccount]" class="btn btn-primary btn-block">Załóż konto!</button>
                            </div>
                                <input type="hidden" id="users__token" name="users[_token]" value="{{ csrf_token('authenticate') }}" />
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    
                        </form>
                        #}


            </div>
        </div>
    </div>


</div>

<!-- Remind Password Modal -->
<div class="modal fade" id="remindModal" tabindex="-1" role="dialog" aria-labelledby="remindModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remindModalLabel">Przypomnij hasło</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formRemindPassForm) }}
                {{ form_widget(formRemindPassForm) }}
                {{ form_end(formRemindPassForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>

            </div>
        </div>
    </div>
</div>

<!-- Resend Activation Link Modal -->
<div class="modal fade" id="resendModal" tabindex="-1" role="dialog" aria-labelledby="resendModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resendModalLabel">Prześlij ponownie link aktywacyjny</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(formResendActivLink) }}
                {{ form_widget(formResendActivLink) }}
                {{ form_end(formResendActivLink) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>  

{% block javascripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('bundles/biznesservice/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/biznesservice/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/biznesservice/js/bootstrap.min.js') }}"></script>

{% endblock %}
</body>

{% endblock %}