{% extends "BiznesServiceBundle::base.html.twig" %}

{% block content %}
    
    

    <div class="row">
        <div class="col-md-12">
            <h3>Lista twoich wypłat</h3>
            
            <table class="table table-hover table-striped">
                <tr>
                    <th>
                        Data:
                    </th>
                    <th>
                        Nr wypłaty:
                    </th>
                    <th>
                        Wartość:
                    </th>
                    <th colspan="2">
                        Status:
                    </th>
                </tr>
                {% if withdraws is empty %}
                    <tr>
                        <td colspan="4">
                            <h4>Brak wypłat</h4>
                        </td>
                    </tr>
                {% else %}
                    {% for withdraw in withdraws %}
                        <tr>
                            <td>
                                {{ withdraw.dateWithdraw|date('Y-m-d H:m:s') }}
                            </td>
                            <td>
                                {{ withdraw.idWithdraw }}
                            </td>
                            <td>
                                {{ withdraw.value }}
                            </td>
                            <td>
                                {{ withdraw.getStateAsString }}
                            </td>
                            <td>
                                {% if withdraw.state == "oczekuje" %}
                                    <a href="{{ path('contract', {'id' : withdraw.idWithdraw}) }}" target="_blank" style="text-decoration: none;">
                                        Generuj umowę
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    

{% endblock %}