{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Koszyk' %}
{% block carousel %}

{% endblock %}


{% block container %}
    <div class="row">
        {% if cart is defined %}
            Produkty w koszyku:
            <table class="table">
                <tr>
                    <th>
                        Product name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                    </th>
                </tr>
                {% for product in cart.products %}
                    <tr>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            <form action="{{ path('cartDelete') }}" method="POST">
                                <input type="hidden" name="idProduct" value="{{ product.idProduct }}"/>
                                <button type="submit">Remove from cart</button>
                            </form>
                            {#
                               <a href="{{ path('cartDelete', {'id': product.idProduct}) }}"/> Usun</a>
                               #}   
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if cart.products %}
            <form action="{{ path('cartDelete') }}" method="POST">
                <input type="hidden" name="all" value="true"/>
                <button type="submit">Clear cart</button
            </form>
            <a href="{{ path('checkout') }}">Realizacja zamowienia!</a></br>
        {% endif %}
        <hr>
        {{ dump(cart) }}
        <hr>
    </div>
{% endblock %}
