<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Faktura</title>


    </head>

    <body style="
          overflow: auto; 
          background-color: white;
          background-image: none;
          padding: 10px;
          font-size: 16px;
          ">
        <!-- Page Content -->
        <div class="container">
            <div class="container-fluid">
                <div class="invoice" style="
                     overflow: auto; 
                     background-color: white;
                     padding: 20px;
                     ">
                    <div class="row">
                        <div class="col-lg-6" style="
                             float:left;
                             ">
                            <h1>Affiliations<br>TOOLS</h1>
                        </div>
                        <div class="col-lg-6" style="
                             float:right;
                             text-align: right;
                             ">
                            Data wystawienia: {{ dateExposure|date('Y-m-d') }}
                            <br>
                            Data sprzedaży/data wykonania usługi: {{ dateSale|date('Y-m-d') }}
                        </div>
                    </div>       
                    
                    <div class="row" style="
                         clear:both;
                         margin-top: 100px; 
                         ">
                        <div class="col-md-12" style="
                             clear:both;
                             padding-top: 40px; 
                             text-align: center;
                             ">
                            <hr>
                            {% if type == "PROFORMA" %}
                                <h3>Informacja płatnicza PROFORMA nr {{ invoiceNumber }}</h3>
                            {% elseif type == "FAKTURA" %}
                                <h3>Faktura nr {{ invoiceNumber }}</h3>
                            {% endif %}
                        </div>
                 
                    </div>
                    
                    
                            
                    <div class="row">
                        <div class="col-md-6" style="
                             margin-top: 40px;
                             float:left;
                             ">
                            <div class="card-header">
                                <h4>Sprzedawca:</h4>
                                <strong>Affiliations TOOLS Ltd.</strong>
                            </div>
                            <div class="card-body">
                                <strong>Adres:</strong>
                                <div style="clear:left;">
                                    ul. Przykładowa 15,
                                    <br> 99-999 Łódź
                                </div>
                                <br>
                                <strong>NIP:</strong> 123-456-78-90  
                            </div>

                        </div>
                        
                        <div class="col-md-6" style="
                             margin-top: 40px;
                             float:right;
                             ">

                            <div class="card-header">
                                <h4>Nabywca:</h4> 
                                {{ um.userData.name1 }} {{ um.userData.surname }}
                            </div>
                            <div class="card-body">
                                <strong>Adres:</strong>
                                <div style="clear:left;">
                                    ul. {{ um.userAddress.street }} 
                                    {{ um.userAddress.nrHouse }}
                                    {% if um.userAddress.nrFlat is not null %}
                                        /{{ um.userAddress.nrFlat }}
                                    {% endif %}
                                    <br> {{ um.userAddress.postCode }} {{ um.userAddress.city }}
                                </div>

                            </div>

                        </div>
                    </div>

                    <hr>

                    <div class="row" style="">  
                        <div class="col-md-12">    

                            <div style="
                                 clear: both;
                                 padding: 50px 15px 50px;
                                 ">
                                <table class="" style="
                                       background-color: whitesmoke;  
                                        width: 100%;
                                        text-align: center;
                                        line-height: 26px;
                                        border: 2px solid grey;
                                       ">
                                    <tr style="
                                        border: 1px solid grey;
                                        ">
                                        <th class="" style="
                                            width: 25px;
                                            border: 1px solid grey;
                                            ">
                                            Lp.
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey; 
                                            ">
                                            Nazwa
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey;
                                            ">
                                            Cena Netto
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey;
                                            ">
                                            Stawka Vat
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey;
                                            ">
                                            Kwota Vat
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey;
                                            ">
                                            Wartość Netto
                                        </th>
                                        <th class="" style="
                                            border: 1px solid grey;
                                            ">
                                            Wartość Brutto
                                        </th>
                                    </tr>
                                    {% for product in cart.products %}
                                        <tr style="
                                            border: 1px solid grey;
                                            ">
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                1
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                {{ product.name }}
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                {{ product.price }}
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                23%
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                {{ product.vatValue }}
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                {{ product.price }}
                                            </td>
                                            <td style="
                                            border: 1px solid grey;
                                            ">
                                                {{ product.priceBrutto }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr style="
                                        height: 120px;
                                        ">
                                        <td colspan="3" rowspan="2" style="
                                            color: whitesmoke;
                                            background-color: grey;
                                            border: 1px solid grey;
                                            ">
                                            <h3 style="
                                                line-height: 40px;
                                                font-size: 32px;
                                                ">Razem do zapłaty: <br>{{ order.priceBrutto }} zł</h3>
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            RAZEM:
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.vatValue }}
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.priceNetto }}
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.priceBrutto }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            W tym:
                                        </td>

                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.vatValue }}
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.priceNetto }}
                                        </td>
                                        <td style="
                                            border: 1px solid grey;
                                            ">
                                            {{ order.priceBrutto }}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="
                             
                             ">
                            <hr>
                            <strong>Słownie złotych:</strong> //TO DO
                            <br>
                            <strong>Forma płatności:</strong> {{ order.IdPaymentMethod.name }}
                            <br>
                            bank, Bankowość Detaliczna ABC Banku SA,
                            <br>
                            <strong>Nr konta</strong>: 12 3456 7890 1234 5678 9012 3456
                            <br>
                            <h3><strong>UWAGA! - Prosimy w tytule przelewu wpisać numer {{ invoiceNumber }} </strong></h3>
                            <br>
                            <strong>Termin płatności:</strong> {{ datePayment|date('Y-m-d') }}
                            <br>
                            <br>
                            Uprzejmie informujemy, że termin płatności oznacza dzień wymaganego wpływu należności na nasz rachunek bankowy.
                            <hr>
                        </div>
                    </div>
                    {#
                    <div class="row">  
                        <div class="col">
                            <hr>
                            {{ dump(order) }}
                            <hr>
                            {{ dump(cart) }}
                            <hr>
                            {{ dump(products) }}
                            <hr>
                            $products
                            {{ dump(um) }}
                            <hr>
                        </div>
                    </div>
                    #}
                </div>
            </div>
        </div>
        <!-- /.container -->

    </body>

</html>