{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Data info' %}

{% block header %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-3 text-center text-white mt-4 text-bordered">Twoje dane</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Aby móc zrealizować zamówienie, poniższe dane muszą zostać wypełnione!
                </h4>
            </div>
            {% if dataForm is not null %}
                <div class="col">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">
                            <h4>W formularzu poniżej możesz dodac, edytować swoje dane personalne.</h4>
                        </div>
                        <div class="card-body">

                            {{ form_start(dataForm) }}
                            {{ form_widget(dataForm) }}
                            {{ form_end(dataForm) }}

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if addressForm is not null %}
                <div class="col">
                    <div class="card card-login mx-auto mt-5">
                        <div class="card-header">
                            <h4>W formularzu poniżej możesz dodac, edytować swoje dane adresowe.</h4>
                        </div>
                        <div class="card-body">
                            {{ form_start(addressForm) }}
                            {{ form_widget(addressForm) }}
                            {{ form_end(addressForm) }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>   
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-3 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
{% endblock %}