{% extends "BiznesShopBundle::base.html.twig" %}
{% set title = 'Produkt' %}
{% block carousel %}

{% endblock %}


{% block container %}
    <div class="row">
    <hr>
    {{ product.name }}
    <br>
    {{ product.price }}
    <hr>
    <form method="POST" action="{{ url('cartAdd') }}">
        <input type="hidden" name="idProduct" value="{{ product.idProduct }}"/>
        <input type="text" name="desc" placeholder="Opis"/>
        <input type="submit" value="Dodaj do koszyka"/>
    </form>
    <a href="{{ url('cart') }}">Koszyk!</a>
    </div>
{% endblock %}
